$color-background: #0e0e10;
$color-modal-background: rgba(91, 112, 131, 0.4);
$color-card-background: #16181c;

$color-alert: #b92815;
$color-warn: #e7dc0e;
$color-active: #2979FF;
$color-disabled: #EBEBE4;

$color-border: #2f3336;
$color-button: #3b3b44;
$color-scrollbar: $color-active;

$color-text-main: #fff;
$color-text-secondary: #71767b;
$color-text-disabled: #C6C6C6;

$space-smaller: 4px;
$space-small: 8px;
$space-medium: 16px;
$space-large: 24px;
$space-larger: 32px;

$border-radius: $space-small;

$divider: solid 1px $color-border;
$content-container-width-small: 400px;
$content-container-width-medium: 600px;
$media-query-min-width: 600px;
