$color-background: #0e0e10;
$color-text-main: #fff;
$color-text-secondary: #71767b;
$color-button-hover: #3b3b44;
$color-border: #2f3336;

$space-small: 8px;
$space-medium: 16px;
$space-large: 32px;
$space-x-large: 64px;

$divider: solid 1px $color-border;