@use "../../sass/variables";

.home-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: variables.$space-larger;

  .home-content-container {
    min-width: 500px;
    border-left: variables.$divider;
    border-right: variables.$divider;
    border-bottom: variables.$divider;
    padding-top: calc(2 * variables.$space-large);;

    > nav {
      display: flex;
      border-bottom: variables.$divider;

      > a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: variables.$space-medium;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          background: variables.$color-button-hover;
        }
      }

      .home-nav-active {
        color: variables.$color-text-main;
        border-bottom: solid variables.$space-small variables.$color-active;
      }

      .home-nav-inactive {
        color: variables.$color-text-secondary;
      }
    }
  }
}