@use "../../sass/variables";

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: variables.$space-small;
  background: variables.$color-background;
  border-bottom: variables.$divider;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: left;

    .poster-title {
      font-size: x-large;
      font-weight: bolder;
      color: variables.$color-active;
      margin: 0 variables.$space-medium;
    }

    .header-buttons-container {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      padding-left: variables.$space-small;

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: variables.$space-small;
        padding: variables.$space-small;
        color: variables.$color-text-main;
        text-decoration: none;
    
        > span {
          margin-left: variables.$space-small;
          font-weight: bold;
        }
    
        &:hover {
          background: variables.$color-button-hover;
        }
      }
    }

    .header-user-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: variables.$space-large;

      > img {
        border-radius: 100%;
        height: variables.$space-large;
      }

      > span {
        margin-left: variables.$space-small;
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }
}