@use "../../sass/variables";

.post-form-wrapper {
  display: flex;
  padding: variables.$space-medium;

  > img {
    border-radius: 100%;
    height: calc(2 * variables.$space-larger);
  }

  .post-form-container {
    width: 100%;
    padding: 0 variables.$space-medium;

    > textarea {
      width: 100%;
      resize: vertical;
      overflow: auto;
      font-family: inherit;
      font-size: medium;
      min-height: calc(2 * variables.$space-large);
      max-height: calc(8 * variables.$space-large);
    }

    > .post-limit-warn {
      color: variables.$color-warn
    }

    .post-form-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: variables.$space-small 0 variables.$space-small;

      > span {
        color: variables.$color-text-secondary;
        padding-right: variables.$space-small;
        border-right: variables.$divider;
        font-weight: bold;
      }

      > button {
        border: none;
        font-weight: bold;
        color: variables.$color-text-main;
        background: variables.$color-active;
        font-size: medium;
        border-radius: variables.$space-medium;
        margin-left: variables.$space-small;
        padding: variables.$space-small;

        > span {
          margin: 0 variables.$space-small;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.85;
        }

        &:disabled {
          color: variables.$color-text-disabled;
          background: variables.$color-disabled;

        &:hover {
          cursor: auto;
          opacity: 1;
        }
        }
      };
    }
  }
}