@use "../../sass/variables";

.post-card {
  display: flex;

  .post-content-container {
    display: flex;
    width: 100%;
    padding: variables.$space-medium;
    padding-bottom: 0;

    > img {
      border-radius: 100%;
      height: calc(2 * variables.$space-large);
      margin-right: variables.$space-medium;
    }

    a {
      color: variables.$color-text-main;
      text-decoration: none;

      > span {
        font-size: large;
        font-weight: bold;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .post-info-date {
      font-size: small;
      font-weight: normal !important;
      color: variables.$color-text-secondary;
      margin-left: variables.$space-smaller;
    }

    .post-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      > .post-info-container {
        display: flex;
        flex-direction: column;
        margin-bottom: variables.$space-medium;

        > .post-text {
          white-space: pre-wrap;
          word-wrap: break-word;
        }

        > div {
          display: flex;
          align-items: center;
          margin: 0 variables.$space-small variables.$space-small 0;

          > a {
            display: flex;
            align-items: center;

            .post-info-name {
              display: none;
              margin-right: variables.$space-smaller;

              @media (min-width: variables.$media-query-min-width) {
                display: block;
              }
            }

            .post-info-username {
              font-size: large;
              font-weight: bold;
              color: variables.$color-text-secondary;

              @media (min-width: variables.$media-query-min-width) {
                font-size: small;
                font-weight: normal !important;
              }
            }
          }
        }
      }

      > .sub-post-container {
        border: variables.$divider;
        border-radius: variables.$space-small;

        img {
          height: variables.$space-large;
        }

        .post-info-date {
          display: none;
        }
      }
    }

    .repost-info {
      width: 100%;

      > .repost-info-container {
        display: flex;
        align-items: center;
        margin-bottom: variables.$space-medium;

        > a {
          display: flex;
          
            > span {
            font-size: small;
            margin: 0 variables.$space-smaller 0 variables.$space-small;
          }
        }
    
        > span {
          font-size: small;
          font-weight: bold;
        }
      }

      > .sub-post-container {
        > img {
          height: calc(2 * variables.$space-large);
        }

        > .post-card > .post-content-container {
          padding: 0;
        }

        .post-info-date {
          display: none;
        }
      }
    }
  }
}
